---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NavigationIndictor from "../components/NavigationIndictor.astro";
import RightSideBar from "../components/RightSideBar.astro";
import LeftSideBar from "../components/LeftSideBar.astro";
---

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollToPlugin } from "gsap/ScrollToPlugin";

  gsap.registerPlugin(ScrollTrigger);
  gsap.registerPlugin(ScrollToPlugin);

  const sections = gsap.utils.toArray(".section");
  const numSections = sections.length - 1;
  const snapVal = 1 / numSections;
  let lastIndex = 0;
  const navLis = document.querySelectorAll("li");

  gsap.to(sections, {
    xPercent: -100 * numSections,
    ease: "none",
    scrollTrigger: {
      trigger: ".sections-container",
      pin: true,
      scrub: true,
      snap: snapVal,
      // base vertical scrolling on how wide the container is so it feels more natural.
      end: () =>
        "+=" +
        ((document.querySelector(".sections-container") as HTMLElement)
          ?.offsetWidth -
          innerWidth),
      onUpdate: (self) => {
        const newIndex = Math.round(self.progress / snapVal);
        if (newIndex !== lastIndex) {
          navLis[lastIndex].classList.remove("active");
          navLis[newIndex].classList.add("active");

          lastIndex = newIndex;
        }
      },
    },
  });

  navLis.forEach((anchor, i) => {
    anchor.addEventListener("click", function () {
      gsap.to(window, {
        duration: 1,
        scrollTo: {
          y: i * innerWidth,
          autoKill: false,
        },
      });
    });
  });

  // rect effect
  gsap.fromTo(
    "#leftRect",
    {
      xPercent: -100, // Start completely off-screen to the left
    },
    {
      xPercent: 0, // Move to original position
      duration: 1.5,
      ease: "power4.out",
    }
  );

  gsap.fromTo(
    "#rightRect",
    {
      xPercent: 100, // Start completely off-screen to the right
    },
    {
      xPercent: 0, // Move to original position
      duration: 1.5,
      ease: "power4.out",
      delay: 0.3, // Add slight delay for staggered effect
    }
  );
</script>

<style>
  .sections-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
  }
  .section {
    width: 100vw;
    height: 100vh;
  }
</style>

<Layout title="Jim Luo">
  <Navigation />
  <!-- <NavigationIndictor /> -->
  <div class="sections-container">
    <section class="section" id="section1">
      <!-- Main Content -->
      <main class="min-h-screen grid grid-cols-12 relative" id="grid-container">
        <!-- Rect Effect -->
        <!-- Left Rectangle -->
        <div
          id="leftRect"
          class="w-[60vw] h-[30vh] bg-palette-7 fixed top-[28%] left-0 z-2"
        >
        </div>

        <!-- Right Rectangle -->
        <div
          id="rightRect"
          class="w-[60vw] h-[30vh] bg-palette-7 fixed top-[46%] right-0 z-2"
        >
        </div>

        <!-- Left sidebar -->
        <LeftSideBar />

        <!-- Main content -->
        <div class="col-span-8 relative border-x-1 border-palette-7">
          <div class="w-full relative h-screen flex justify-center">
            <div class="absolute h-screen border-l-1 border-palette-7 z-1">
            </div>
            <!-- <div class="absolute top-1/2 -translate-y-1/2 w-full z-5">
             
            </div> -->
            <div class="w-full h-full z-5 py-20 relative">
              <img
                src="/images/banner.jpeg"
                alt="banner"
                class="w-full h-full object-cover"
              />
              <div
                class="absolute w-full lg:w-2/3 top-20 bottom-20 flex flex-col"
              >
                <div
                  class="max-w-3xl w-full space-y-6 p-4 bg-palette-6/20 backdrop-blur-xs h-full backdrop-brightness-90 backdrop-contrast-125 flex flex-col items-center justify-center"
                >
                  <h1
                    class="font-qs text-[clamp(3rem,15vw,8rem)] font-bold text-center tracking-tight bg-clip-text text-palette-1"
                  >
                    Jim Luo
                  </h1>
                  <p
                    class="font-qs text-gray-800 lg:text-xl leading-relaxed text-justify space-y-6 px-2"
                  >
                    <span
                      class="block first-letter:text-3xl first-letter:font-bold first-letter:mr-1 first-letter:float-left"
                    >
                      Hello, I'm Jim Luo, a software engineer. I love building
                      and creating because of the experience of playing Legos
                      since I was a child. That experience made me switched my
                      major from industrial design to software engineering in
                      colleage. I try my best to be a tech producer rather than
                      a consumer.
                    </span>

                    <span class="block">
                      Currently specializing in web development and exploring
                      something useful, beautiful and empowering in AI area.
                      Currently located in Canada, opened to new opportunities.
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <RightSideBar />
      </main>
    </section>
  </div>

  <!-- <section class="section bg-gray-400" id="section2">
      <div class="h-full flex items-center justify-center">
        <h2 class="text-4xl font-hw">Collections</h2>
      </div>
    </section>

    <section class="section bg-gray-200" id="section3">
      <div class="h-full flex items-center justify-center">
        <h2 class="text-4xl font-serif">Events</h2>
      </div>
    </section>

    <section class="section bg-gray-300" id="section4">
      <div class="h-full flex items-center justify-center">
        <h2 class="text-4xl font-serif">Visit Us</h2>
      </div>
    </section>

    <section class="section bg-red-100">
      <main class="min-h-screen grid grid-cols-12 relative" id="grid-container">
        <div class="col-span-2"></div>
        <div class="col-span-8 relative border-x-1 border-set1-2"></div>
        <RightSideBar />
      </main>
    </section> -->
</Layout>
