---

---

<div class="w-full absolute h-screen flex items-center z-2">
  <div class="w-1 h-12 z-5 bg-palette-2 translate-x-16 -translate-y-16"></div>
  <div
    class="hidden lg:flex w-auto tracking-widest left-0 -rotate-90 z-5 -translate-x-7 font-qs text-sm text-gray-700 -translate-y-16"
  >
    A Normal Person
  </div>
</div>
