---

---

<div class="w-full absolute h-screen flex items-center z-2">
  <div class="w-1 h-12 z-5 bg-palette-2 translate-x-16"></div>
  <div
    class="hidden lg:flex w-auto tracking-widest left-0 -rotate-90 z-5 -translate-x-8 font-qs text-sm text-gray-700"
  >
    A Mediocre Engineer
  </div>
</div>
