---

---

<div class="col-span-2 flex flex-col justify-between p-10 mt-8">
	<div
		class="vertical-text font-qs transform -rotate-90 origin-left translate-y-40 text-sm tracking-widest text-gray-500"
	>
		A Normal Engineer
	</div>
	<!-- <div class="text-sm">EN/FR</div> -->
</div>
