---

---

<div
  class="col-span-2 flex flex-col justify-between item-center gap-4 p-10 xl:mt-8 mt-6"
>
  <div
    class="vertical-text font-qs transform -rotate-90 origin-left translate-y-40 text-sm tracking-widest text-gray-800 text-bold"
  >
    An Ordinary Engineer
  </div>

  <div class="font-qs flex-col text-sm">
    <a class="text-gray-800" href="mailto:im.si.luo@gmail.com">Contact me</a>
    <div>©2025 Jim Luo</div>
  </div>
</div>
