---

---

<div class="col-span-2 flex flex-col justify-start item-center gap-4 p-10 mt-6">
	<div
		class="vertical-text font-qs transform -rotate-90 origin-left translate-y-40 text-sm tracking-widest text-black text-bold"
	>
		An Ordinary Engineer
	</div>
</div>
