---
import NavLink from "./NavLink.astro";

const links = [
  {
    id: "link-1",
    title: "Blog",
    link: "https://blog.jimmieluo.com",
  },
  {
    id: "link-2",
    title: "Gallery",
    link: "https://www.instagram.com/jimluo_/",
  },
  {
    id: "link-3",
    title: "Projects",
    link: "https://abundance.jimmieluo.com",
  },
  {
    id: "link-0",
    title: "Resume",
    link: "https://www.dropbox.com/scl/fi/eucie02todu18k20wlgcz/resume.pdf?rlkey=5hy5693a77ldikk3nns94clyy&e=1&st=584r6ti8&dl=0",
  },
];
---

<!-- Navigation -->
<nav
  class="fixed top-0 left-0 w-full z-50 px-4 md:px-8 py-6 flex justify-between items-center"
>
  <div class="flex flex-col text-gray-700">
    <a href="/" class="text-2xl font-hw tracking-wider">Jim</a>
    <a href="/" class="text-2xl font-hw tracking-wider -mt-2">Luo</a>
  </div>

  <div class="hidden md:flex space-x-12 text-lg tracking-widest">
    {links.map((l) => <NavLink url={l.link} title={l.title} />)}
  </div>

  <button
    class="md:hidden mobile-menu-button z-50 text-gray-700"
    aria-label="Mobile Menu"
  >
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <!-- Mobile Menu -->
  <div
    class="mobile-menu fixed inset-0 z-40 hidden bg-palette-7 justify-center items-center"
  >
    <div
      class="flex flex-col items-center justify-center h-full space-y-8 text-xl"
    >
      {links.map((l) => <NavLink url={l.link} title={l.title} />)}
    </div>
  </div>

  <script>
    import { gsap } from "gsap";
    // Mobile menu functionality
    const btn = document.querySelector(".mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");
    const menuItems = document.querySelectorAll(".mobile-menu a");

    let isOpen = false;

    btn?.addEventListener("click", () => {
      if (!isOpen) {
        openMenu();
      } else {
        closeMenu();
      }
      isOpen = !isOpen;
    });

    function openMenu() {
      menu?.classList.remove("hidden");
      menu?.classList.add("flex");
      gsap.fromTo(
        menu,
        { opacity: 0 },
        { opacity: 1, duration: 0.5, ease: "power2.out" }
      );
      gsap.fromTo(
        menuItems,
        { y: 30, opacity: 0 },
        { y: 0, opacity: 1, duration: 0.5, stagger: 0.1, ease: "power2.out" }
      );
    }

    function closeMenu() {
      gsap.to(menuItems, {
        y: -30,
        opacity: 0,
        duration: 0.3,
        stagger: 0.05,
        ease: "power2.in",
      });
      gsap.to(menu, {
        opacity: 0,
        duration: 0.5,
        ease: "power2.in",
        onComplete: () => {
          menu?.classList.add("hidden");
          menu?.classList.remove("flex");
        },
      });
    }
  </script>
</nav>
